#container{
  background-color: white;
  display: flex;
  position: relative;
  isolation: isolate;
  flex-direction: row;
  width: 100%;
  height: 1024px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#Kakaomap
{
  display: flex;
  position: absolute;
  isolation: isolate;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
    width: 100%;
  height: 1024px;
  left: 0;
  top: 0;
}

#Visualize{
  width: 40%;
  height: 1024px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
}

#container > div {
    height: 100%; /* Full height for each grid item */
    /* Add other styles as needed */
}
