@font-face {
    font-family: 'Ria';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1F3B;
}

.vertical-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.id-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 100px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    margin: 40px;
}

.central_placement{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.font-title{
    color: white;
    font-size: 50px;
    margin: 10px 0  0 20px;
    font-family: Ria;
}

.font-content{
    color: white;
    font-size: 15px;
    align-self: flex-start;
    margin: 10px 0  0 20px;
    font-family: GMarketSans;
}

.input{
    background: #B0BEC54D;
    outline: none;
    border: none;
    width: 587px;
    border-radius: 6px;
    color: white;

}

.input::placeholder{
    color: #EFEFEF;
}

.button{
    background: #57676E;
    margin: 10px;
    width: 587px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: GMarketSans;
    font-size: 15px;
}

.button-send{
    background: #57676E;
    margin: 0 0 0 16px;
    width: 150px;
    font-size: clamp(10px, 2vw, 14px);
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-family: GMarketSans;
}

.forgot-text {
    margin-top: 10px;
    color: white;
    font-size: 18px;
}

.link {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
}

.start-btn {
    color: white;
    background: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    font-family: GMarketSans;
    font-size: 15px;
}