@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

.dashboard{
    min-height: 100vh;
    background-color: #1B1F3B;
    font-family: Galmuri11;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 200px auto;
}

.header{
    grid-column: 1 / 4;
    color: white;
    font-size: 50px;
    margin: 20px 0  0 20px;
}

.next{
    grid-column: 4;
    color: white;
    align-content: flex-end;
    text-align: right;
    margin-right: 20px;
    text-decoration: none;
}